<main class="h-full w-full p-8 not-dark:bg-amber-50 dark:bg-slate-900">
  <div cdkDrag>
    <svg class="absolute inset-0 w-full h-full pointer-events-none z-0">
      @for (line of lines(); track $index) {
        <line 
          [attr.x1]="line.x1" 
          [attr.y1]="line.y1"
          [attr.x2]="line.x2" 
          [attr.y2]="line.y2"
          stroke="#ffffff" 
          stroke-width="2"
          stroke-dasharray="5,5">
        </line>
      }
    </svg>
    @for (device of data.devices; track device.ip) {
      <app-device 
        #deviceRefs
        [ip]=device.ip 
        [mac]=device.mac
        [status]=device.status
        [hostname]=device.hostname
        [services]=device.services
        (position)="onDevicePosition(device.ip, $event)"
        >
      </app-device>
    }
    <app-router 
      #routerRef 
      [subnet]=data.subnet 
      ip="192.168.0.1"
      (position)="onRouterPosition($event)"
      ></app-router>
  </div>
</main>
<router-outlet />
